/* h1{
    color: blue;
    background-color: black;
    background-color: grey;
}
p{
    color: red;
    background-color: purple;
}
button{
    color: gold;
    background-color: black;
} */
 h2{
    color: orange;
 }
 p{
    background-color: black;
    color: white;
 }
 button{
    color: white;
    background-color: blue;
 }
