<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>This is a home page</h1>
    <h3><%= "Ayush Jaiswal007".toUpperCase() %></h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      temporibus quas quisquam quis? Assumenda incidunt deleniti est nihil
      expedita odit numquam corrupti, reprehenderit facilis corporis veritatis
      vero atque eius itaque in, magni nemo obcaecati esse. Fugiat nobis,
      doloremque voluptatum, temporibus atque numquam facere veniam accusamus
      aut, sit consectetur maxime molestiae dolor neque officiis hic commodi
      porro iste vero. Vel iure, ipsum saepe nobis placeat adipisci. Architecto,
      blanditiis! Illum esse possimus, molestias facere architecto dolor velit
      quisquam, eveniet veritatis, suscipit ratione laudantium omnis quidem
      perferendis beatae id accusantium debitis! Sunt totam exercitationem dolor
      harum necessitatibus sed soluta ipsam illo voluptas tempora!
    </p>
    <button>CLick me!</button>
  </body>
</html>
